Repository lmolkova/semantic-conventions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers, @tigrannajaryan, @open-telemetry/semconv-event-approvers, @open-telemetry/semconv-jvm-approvers, @open-telemetry/semconv-http-approvers, @open-telemetry/semconv-security-approvers, @open-telemetry/semconv-system-approvers, @open-telemetry/semconv-mobile-approvers, @open-telemetry/semconv-k8s-approvers, @open-telemetry/semconv-container-approvers, @open-telemetry/semconv-dotnet-approver, @open-telemetry/semconv-llm-approvers, @open-telemetry/semconv-cicd-approvers

.github/CODEOWNERS:

#####################################################
#
# List of approvers for OpenTelemetry semantic conventions repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/guides/contributor/membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/articles/about-code-owners
#

# Global owners, will be the owners for everything in the repo. Membership is tracked via https://github.com/open-telemetry/community/blob/main/community-members.md
*   @open-telemetry/specs-semconv-maintainers @open-telemetry/specs-semconv-approvers

# Schemas and schema file tooling
/schemas/                                 @open-telemetry/specs-semconv-approvers @tigrannajaryan
/internal/tools/schema_check.sh           @open-telemetry/specs-semconv-approvers @tigrannajaryan

# Logs semantic conventions
/docs/exceptions/exceptions-logs.md       @open-telemetry/specs-semconv-approvers @tigrannajaryan
/docs/feature-flags/feature-flags-logs.md @open-telemetry/specs-semconv-approvers @tigrannajaryan
/docs/general/events-general.md           @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-event-approvers @tigrannajaryan
/docs/general/logs-general.md             @open-telemetry/specs-semconv-approvers @tigrannajaryan
/docs/logs/                               @open-telemetry/specs-semconv-approvers @tigrannajaryan
/model/log/                               @open-telemetry/specs-semconv-approvers @tigrannajaryan

# JVM semantic conventions approvers
/docs/jvm/                        @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-jvm-approvers
/model/jvm/                       @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-jvm-approvers

# HTTP semantic conventions approvers
/docs/http/                       @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-http-approvers
/model/http/                      @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-http-approvers
/model/server/*-registry.yaml     @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-http-approvers
/model/client/*-registry.yaml     @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-http-approvers
/model/network/*-registry.yaml    @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-http-approvers @open-telemetry/semconv-security-approvers
/model/error/*-registry.yaml      @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-http-approvers
/model/url/*-registry.yaml        @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-http-approvers
/model/user-agent/*-registry.yaml @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-http-approvers

# System semantic conventions approvers
/docs/system/                     @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-system-approvers
/docs/resource/host.md            @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-system-approvers
/model/system/                    @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-system-approvers
/model/host/*-registry.yaml       @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-system-approvers

# Mobile semantic conventions approvers
/docs/mobile/                     @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-mobile-approvers
/model/device/device-events.yaml  @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-mobile-approvers

# K8s semantic conventions approvers
/docs/resource/k8s.md             @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-k8s-approvers
/model/k8s/                       @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-k8s-approvers

# Container semantic conventions approvers
/docs/resource/container.md       @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-container-approvers
/model/container/                 @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-container-approvers
/model/oci/                       @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-container-approvers

# .NET semantic conventions approvers
/docs/dotnet/                     @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-dotnet-approver @open-telemetry/semconv-http-approvers
/docs/runtime/dotnet-metrics.md   @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-dotnet-approver
/model/aspnetcore/                @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-dotnet-approver @open-telemetry/semconv-http-approvers
/model/dotnet/                    @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-dotnet-approver @open-telemetry/semconv-http-approvers
/model/signalr/                   @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-dotnet-approver @open-telemetry/semconv-http-approvers

# Gen-AI semantic conventions approvers
/docs/gen-ai/                     @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-llm-approvers
/model/gen-ai/                    @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-llm-approvers

# Security semantic conventions approvers
/model/dns/                       @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-security-approvers
/model/file/                      @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-security-approvers
/model/network/                   @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-security-approvers
/model/process/                   @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-security-approvers
/model/tls/                       @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-security-approvers
/model/user/*-registry.yaml       @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-security-approvers

# CICD semantic conventions approvers
/model/cicd/                      @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-cicd-approvers
/model/test/                      @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-cicd-approvers
/model/vcs/                       @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-cicd-approvers
/model/artifact/*-registry.yaml   @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-cicd-approvers
/model/code/*-registry.yaml       @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-cicd-approvers
/model/deployment/*-registry.yaml @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-cicd-approvers

up
  .github/workflows/prepare-new-pr.yml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .github/workflows/prepare-new-pr.yml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme2.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme copy.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme2.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme2.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme2.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme2.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme copy.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

Azure AI Foundry agent semconv draft
  docs/attributes-registry/gen-ai.md
  docs/gen-ai/azure-ai-inference.md
  docs/gen-ai/gen-ai-agent-spans.md
  docs/gen-ai/gen-ai-events.md
  docs/gen-ai/gen-ai-metrics.md
  docs/gen-ai/gen-ai-spans.md
  docs/gen-ai/images/another_run_on_the_thread.png
  docs/gen-ai/images/create_agent_rag.png
  docs/gen-ai/images/create_and_run_thread.png
  docs/gen-ai/images/run_with_tool_calls_and_streaming.png
  docs/gen-ai/images/run_with_tool_calls_without_streaming.png
  docs/gen-ai/openai.md
  model/gen-ai/deprecated/registry-deprecated.yaml
  model/gen-ai/events.yaml
  model/gen-ai/registry.yaml
  model/gen-ai/spans.yaml
  schema-next.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers, @open-telemetry/semconv-llm-approvers

up
  docs/attributes-registry/linux.md
  docs/attributes-registry/process.md
  docs/resource/process.md
  docs/system/README.md
  docs/system/cpu-metrics.md
  docs/system/process-metrics.md
  docs/system/system-metrics.md
  model/linux/registry.yaml
  model/process/registry.yaml
  model/process/resources.yaml
  model/system/metrics.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers, @open-telemetry/semconv-system-approvers, @open-telemetry/semconv-security-approvers

oops
  docs/system/linux-system-metrics.md
Owners: @open-telemetry/specs-semconv-approvers, @open-telemetry/semconv-system-approvers

Early draft: using attributes and refs for chat history on gen_ai spans
  docs/gen-ai/aws-bedrock.md
  docs/gen-ai/azure-ai-inference.md
  docs/gen-ai/gen-ai-agent-spans.md
  docs/gen-ai/gen-ai-events.md
  docs/gen-ai/gen-ai-input-messages.json
  docs/gen-ai/gen-ai-output-messages.json
  docs/gen-ai/gen-ai-spans.md
  docs/gen-ai/openai.md
  docs/registry/attributes/gen-ai.md
  model/gen-ai/events.yaml
  model/gen-ai/registry.yaml
  model/gen-ai/spans.yaml
  templates/registry/markdown/event_macros.j2
Owners: @open-telemetry/specs-semconv-approvers, @open-telemetry/semconv-llm-approvers, @open-telemetry/specs-semconv-maintainers

move uploading/ref to a separate section, add ref for instructions
  docs/gen-ai/aws-bedrock.md
  docs/gen-ai/azure-ai-inference.md
  docs/gen-ai/gen-ai-agent-spans.md
  docs/gen-ai/gen-ai-events.md
  docs/gen-ai/gen-ai-spans.md
  docs/gen-ai/openai.md
  docs/registry/attributes/gen-ai.md
  model/gen-ai/deprecated/events-deprecated.yaml
  model/gen-ai/events.yaml
  model/gen-ai/registry.yaml
Owners: @open-telemetry/specs-semconv-approvers, @open-telemetry/semconv-llm-approvers, @open-telemetry/specs-semconv-maintainers

clean up and add sys instructions json
  docs/gen-ai/aws-bedrock.md
  docs/gen-ai/azure-ai-inference.md
  docs/gen-ai/gen-ai-agent-spans.md
  docs/gen-ai/gen-ai-events.md
  docs/gen-ai/gen-ai-spans.md
  docs/gen-ai/gen-ai-system-instructions.json
  docs/gen-ai/openai.md
  docs/registry/attributes/gen-ai.md
  model/gen-ai/registry.yaml
Owners: @open-telemetry/specs-semconv-approvers, @open-telemetry/semconv-llm-approvers, @open-telemetry/specs-semconv-maintainers

meeting discussions
  model/gen-ai/events.yaml
  model/gen-ai/registry.yaml
Owners: @open-telemetry/specs-semconv-approvers, @open-telemetry/semconv-llm-approvers

update chat history structure
  docs/gen-ai/aws-bedrock.md
  docs/gen-ai/azure-ai-inference.md
  docs/gen-ai/gen-ai-agent-spans.md
  docs/gen-ai/gen-ai-events.md
  docs/gen-ai/gen-ai-input-messages.json
  docs/gen-ai/gen-ai-output-messages.json
  docs/gen-ai/gen-ai-spans.md
  docs/gen-ai/gen-ai-system-instructions.json
  docs/gen-ai/openai.md
  docs/registry/attributes/gen-ai.md
  model/gen-ai/events.yaml
  model/gen-ai/registry.yaml
Owners: @open-telemetry/specs-semconv-approvers, @open-telemetry/semconv-llm-approvers, @open-telemetry/specs-semconv-maintainers

one event
  docs/gen-ai/gen-ai-events.md
  model/gen-ai/deprecated/registry-deprecated.yaml
  model/gen-ai/events.yaml
Owners: @open-telemetry/specs-semconv-approvers, @open-telemetry/semconv-llm-approvers

part of review feedback
  docs/gen-ai/aws-bedrock.md
  docs/gen-ai/azure-ai-inference.md
  docs/gen-ai/gen-ai-agent-spans.md
  docs/gen-ai/gen-ai-events.md
  docs/gen-ai/gen-ai-spans.md
  docs/gen-ai/openai.md
  docs/registry/attributes/gen-ai.md
  model/gen-ai/events.yaml
  model/gen-ai/registry.yaml
  model/gen-ai/spans.yaml
Owners: @open-telemetry/specs-semconv-approvers, @open-telemetry/semconv-llm-approvers, @open-telemetry/specs-semconv-maintainers

lint
  docs/gen-ai/gen-ai-spans.md
  model/gen-ai/deprecated/events-deprecated.yaml
Owners: @open-telemetry/specs-semconv-approvers, @open-telemetry/semconv-llm-approvers

add models notebook
  docs/gen-ai/gen-ai-input-messages.json
  docs/gen-ai/gen-ai-output-messages.json
  docs/gen-ai/gen-ai-system-instructions.json
  docs/gen-ai/non-normative/models.ipynb
Owners: @open-telemetry/specs-semconv-approvers, @open-telemetry/semconv-llm-approvers

change messages type to any
  docs/gen-ai/aws-bedrock.md
  docs/gen-ai/azure-ai-inference.md
  docs/gen-ai/gen-ai-agent-spans.md
  docs/gen-ai/gen-ai-events.md
  docs/gen-ai/gen-ai-spans.md
  docs/gen-ai/openai.md
  docs/registry/attributes/gen-ai.md
  model/gen-ai/events.yaml
  model/gen-ai/registry.yaml
Owners: @open-telemetry/specs-semconv-approvers, @open-telemetry/semconv-llm-approvers, @open-telemetry/specs-semconv-maintainers

lint
  docs/gen-ai/aws-bedrock.md
  docs/gen-ai/azure-ai-inference.md
  docs/gen-ai/gen-ai-agent-spans.md
  docs/gen-ai/gen-ai-events.md
  docs/gen-ai/gen-ai-spans.md
  docs/gen-ai/openai.md
  docs/registry/attributes/gen-ai.md
  model/gen-ai/deprecated/events-deprecated.yaml
  model/gen-ai/registry.yaml
Owners: @open-telemetry/specs-semconv-approvers, @open-telemetry/semconv-llm-approvers, @open-telemetry/specs-semconv-maintainers

up
  docs/gen-ai/aws-bedrock.md
  docs/gen-ai/azure-ai-inference.md
  docs/gen-ai/gen-ai-agent-spans.md
  docs/gen-ai/gen-ai-events.md
  docs/gen-ai/gen-ai-spans.md
  docs/gen-ai/openai.md
  docs/registry/attributes/gen-ai.md
  model/gen-ai/registry.yaml
Owners: @open-telemetry/specs-semconv-approvers, @open-telemetry/semconv-llm-approvers, @open-telemetry/specs-semconv-maintainers

changelog
  .chloggen/2179.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers
