Repository lmolkova/semantic-conventions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers, @tigrannajaryan, @open-telemetry/semconv-event-approvers, @open-telemetry/semconv-jvm-approvers, @open-telemetry/semconv-http-approvers, @open-telemetry/semconv-security-approvers, @open-telemetry/semconv-system-approvers, @open-telemetry/semconv-mobile-approvers, @open-telemetry/semconv-k8s-approvers, @open-telemetry/semconv-container-approvers, @open-telemetry/semconv-dotnet-approver, @open-telemetry/semconv-llm-approvers, @open-telemetry/semconv-cicd-approvers

up
  .vscode/settings.json
  docs/azure/events.md
  docs/exceptions/exceptions-spans.md
  docs/feature-flags/feature-flags-logs.md
  docs/feature-flags/feature-flags-spans.md
  docs/gen-ai/gen-ai-events.md
  docs/mobile/events.md
  docs/rpc/rpc-spans.md
  model/file/registry.yaml
  model/gen-ai/events.yaml
  templates/registry/markdown/event_macros.j2
  templates/registry/markdown/snippet.md.j2
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers, @tigrannajaryan, @open-telemetry/semconv-llm-approvers, @open-telemetry/semconv-mobile-approvers, @open-telemetry/semconv-security-approvers

Try templates
  docs/azure/events.md
  docs/exceptions/exceptions-spans.md
  docs/feature-flags/feature-flags-logs.md
  docs/feature-flags/feature-flags-spans.md
  docs/gen-ai/gen-ai-events.md
  docs/mobile/events.md
  docs/rpc/rpc-spans.md
  model/gen-ai/events.yaml
  templates/registry/markdown/body_field_macros.j2
  templates/registry/markdown/body_field_table.j2
  templates/registry/markdown/event_macros.j2
  templates/registry/markdown/snippet.md.j2
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers, @tigrannajaryan, @open-telemetry/semconv-llm-approvers, @open-telemetry/semconv-mobile-approvers

sync with pr
  docs/gen-ai/gen-ai-events.md
  model/gen-ai/events.yaml
Owners: @open-telemetry/specs-semconv-approvers, @open-telemetry/semconv-llm-approvers

up
  model/gen-ai/registry.yaml
Owners: @open-telemetry/specs-semconv-approvers, @open-telemetry/semconv-llm-approvers

up
  model/gen-ai/registry.yaml
Owners: @open-telemetry/specs-semconv-approvers, @open-telemetry/semconv-llm-approvers

more attributes
  model/gen-ai/registry.yaml
Owners: @open-telemetry/specs-semconv-approvers, @open-telemetry/semconv-llm-approvers

up
  model/gen-ai/events.yaml
  model/gen-ai/registry.yaml
Owners: @open-telemetry/specs-semconv-approvers, @open-telemetry/semconv-llm-approvers

Define groups and group stability
  docs/general/group-stability.md
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

address initial feedbacl
  docs/general/group-stability.md
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

Put new error types into yaml and remove error.type from metrics that don't report it
  docs/dotnet/dotnet-kestrel-metrics.md
  model/kestrel/metrics.yaml
Owners: @open-telemetry/specs-semconv-approvers, @open-telemetry/semconv-dotnet-approver, @open-telemetry/semconv-http-approvers, @open-telemetry/specs-semconv-maintainers

block attributes without usage
  policies/attribute_usage.rego
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/change_proposal.yaml
  .github/ISSUE_TEMPLATE/new-conventions.yaml
  .github/workflows/scripts/prepare-new-issue.sh
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

label PRs with change type according to changelog
  .github/workflows/prepare-new-pr.yml
  .github/workflows/scripts/prepare-new-pr.sh
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

Update prepare-new-pr.yml
  .github/workflows/prepare-new-pr.yml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .github/workflows/prepare-new-pr.yml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .github/workflows/scripts/get-change-type.sh
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .github/workflows/prepare-new-pr.yml
  .github/workflows/scripts/prepare-new-pr.sh
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .github/workflows/prepare-new-pr.yml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .github/workflows/prepare-new-pr.yml
  .github/workflows/scripts/get-change-type.sh
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .github/workflows/prepare-new-pr.yml
  .github/workflows/scripts/get-change-type.sh
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .github/workflows/scripts/get-change-type.sh
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .github/workflows/prepare-new-pr.yml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  docs/database/database-metrics.md
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme2.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

try me
  .chloggen/testme.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .github/workflows/prepare-new-pr.yml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme2.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme2.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme2.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme2.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme2.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme copy.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .chloggen/tryme copy.yaml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

use fork repo to checkout pr
  .github/workflows/prepare-new-pr.yml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

up
  .github/workflows/prepare-new-pr.yml
Owners: @open-telemetry/specs-semconv-maintainers, @open-telemetry/specs-semconv-approvers

.github/CODEOWNERS:

#####################################################
#
# List of approvers for OpenTelemetry semantic conventions repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/guides/contributor/membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/articles/about-code-owners
#

# Global owners, will be the owners for everything in the repo. Membership is tracked via https://github.com/open-telemetry/community/blob/main/community-members.md
*   @open-telemetry/specs-semconv-maintainers @open-telemetry/specs-semconv-approvers

# Schemas and schema file tooling
/schemas/                                 @open-telemetry/specs-semconv-approvers @tigrannajaryan
/internal/tools/schema_check.sh           @open-telemetry/specs-semconv-approvers @tigrannajaryan

# Logs semantic conventions
/docs/exceptions/exceptions-logs.md       @open-telemetry/specs-semconv-approvers @tigrannajaryan
/docs/feature-flags/feature-flags-logs.md @open-telemetry/specs-semconv-approvers @tigrannajaryan
/docs/general/events-general.md           @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-event-approvers @tigrannajaryan
/docs/general/logs-general.md             @open-telemetry/specs-semconv-approvers @tigrannajaryan
/docs/logs/                               @open-telemetry/specs-semconv-approvers @tigrannajaryan
/model/log/                               @open-telemetry/specs-semconv-approvers @tigrannajaryan

# JVM semantic conventions approvers
/docs/jvm/                        @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-jvm-approvers
/model/jvm/                       @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-jvm-approvers

# HTTP semantic conventions approvers
/docs/http/                       @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-http-approvers
/model/http/                      @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-http-approvers
/model/server/*-registry.yaml     @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-http-approvers
/model/client/*-registry.yaml     @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-http-approvers
/model/network/*-registry.yaml    @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-http-approvers @open-telemetry/semconv-security-approvers
/model/error/*-registry.yaml      @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-http-approvers
/model/url/*-registry.yaml        @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-http-approvers
/model/user-agent/*-registry.yaml @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-http-approvers

# System semantic conventions approvers
/docs/system/                     @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-system-approvers
/docs/resource/host.md            @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-system-approvers
/model/system/                    @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-system-approvers
/model/host/*-registry.yaml       @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-system-approvers

# Mobile semantic conventions approvers
/docs/mobile/                     @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-mobile-approvers
/model/device/device-events.yaml  @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-mobile-approvers

# K8s semantic conventions approvers
/docs/resource/k8s.md             @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-k8s-approvers
/model/k8s/                       @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-k8s-approvers

# Container semantic conventions approvers
/docs/resource/container.md       @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-container-approvers
/model/container/                 @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-container-approvers
/model/oci/                       @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-container-approvers

# .NET semantic conventions approvers
/docs/dotnet/                     @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-dotnet-approver @open-telemetry/semconv-http-approvers
/docs/runtime/dotnet-metrics.md   @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-dotnet-approver
/model/aspnetcore/                @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-dotnet-approver @open-telemetry/semconv-http-approvers
/model/dotnet/                    @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-dotnet-approver @open-telemetry/semconv-http-approvers
/model/signalr/                   @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-dotnet-approver @open-telemetry/semconv-http-approvers

# Gen-AI semantic conventions approvers
/docs/gen-ai/                     @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-llm-approvers
/model/gen-ai/                    @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-llm-approvers

# Security semantic conventions approvers
/model/dns/                       @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-security-approvers
/model/file/                      @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-security-approvers
/model/network/                   @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-security-approvers
/model/process/                   @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-security-approvers
/model/tls/                       @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-security-approvers
/model/user/*-registry.yaml       @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-security-approvers

# CICD semantic conventions approvers
/model/cicd/                      @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-cicd-approvers
/model/test/                      @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-cicd-approvers
/model/vcs/                       @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-cicd-approvers
/model/artifact/*-registry.yaml   @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-cicd-approvers
/model/code/*-registry.yaml       @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-cicd-approvers
/model/deployment/*-registry.yaml @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-cicd-approvers
